@import 'variables';

h1 {
	font-family: $copy;
	font-size: 1em;
	color: $black;
}
h2,
.intro {
	font-family: $heading;
	font-size: 1.65em;
	letter-spacing: 1px;
	line-height: 1.4;
	@include respond ($screen-md) {
		font-size: 2.5em;
	}
	@include respond ($screen-lg) {
		font-size: 3.25em;
	}
}
h3 {
	font-family: $copy;
	font-size: 1.35em;
	letter-spacing: 2px;
	font-weight: $bold;
	margin: 0;
}
h4 {
	margin-bottom: 3px;
	font-weight: 500;
	font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
p {
	padding: 0;
}

a {
	color: $primary;
	&:visited {
		color: $primary;
	}
}
a,
button,
.accordion__title {
	&:focus {
		outline-color: $blue;
		outline-offset: -2px;
		outline-style: auto;
		outline-width: 5px;
	}
}