.blue {
  color: #69C4CA; }

.coral {
  color: #D45F5E; }

.name {
  text-align: center; }

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0; }

h1, h2, h3, p, h4 {
  margin: 0;
  padding: 0;
  color: #4A494A; }

li {
  color: #4A494A; }

i {
  margin: 0 2%;
  color: #D45F5E; }

a {
  color: #69C4CA;
  text-decoration: none; }
  a:visited {
    color: #69C4CA; }
  a:hover {
    color: #D45F5E; }

.hide {
  display: none; }

.hideImg {
  display: none; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0; }

.leftNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100%;
  border-right: 2px dotted #CDCCCC;
  padding: 2%;
  text-align: center; }
  .leftNav img {
    width: 90%;
    padding-bottom: 7%;
    transition: all .8s ease; }
    .leftNav img:hover {
      transform: rotate(360deg); }
  .leftNav .submenu {
    display: none; }
  .leftNav ul:first-child {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .leftNav ul:first-child li {
      padding: 5% 0; }

.contact ul li {
  display: inline-block;
  margin: 0 5%; }

.rightContent {
  width: 77%;
  float: right;
  height: 100%;
  overflow: scroll;
  display: inline-block;
  position: relative;
  display: block; }

.about {
  width: 90%;
  margin-left: 5%;
  padding: 5% 0; }
  .about .aboutMe {
    width: 65%;
    display: inline-block;
    font-size: 4em;
    line-height: .9em;
    margin-left: 2%; }
  .about img {
    width: 30%;
    vertical-align: top;
    margin-left: 2%; }

.work {
  width: 90%;
  margin-left: 5%; }
  .work .infoColumn {
    width: 47.5%;
    display: inline-block;
    border-right: 2px dotted #CDCCCC;
    padding-right: 2.5%;
    vertical-align: top; }
  .work .imageColumn {
    width: 44%;
    display: inline-block;
    padding-left: 5%;
    vertical-align: top; }
    .work .imageColumn img {
      width: 100%; }
      .work .imageColumn img:hover {
        opacity: .5;
        transition: all 1s ease; }
  .work .project {
    height: 260px;
    padding-top: 5%;
    border-top: 1px solid #CDCCCC; }
  .work .project:last-child {
    border-bottom: 1px solid #CDCCCC; }

.resume {
  width: 90%;
  margin-left: 5%;
  padding-top: 5%; }
  .resume h2 {
    border-bottom: 2px dotted #CDCCCC;
    margin: 2.5% 0; }
  .resume .leftColumn {
    width: 45%;
    display: inline-block;
    padding-right: 5%;
    vertical-align: top; }
  .resume .rightColumn {
    width: 44%;
    display: inline-block;
    padding-left: 5%;
    vertical-align: top; }

@media all and (max-width: 1185px) {
  .about .aboutMe {
    font-size: 3.25em; } }
@media all and (max-width: 1000px) {
  .about, .work, .resume {
    width: 95%;
    margin-left: 2.5%; }

  .work .infoColumn {
    font-size: .95em; } }
@media all and (max-width: 860px) {
  .about .aboutMe {
    font-size: 2.75em; } }
@media all and (max-width: 780px) {
  .about .aboutMe {
    font-size: 3.25em; }

  .leftNav {
    width: 100%;
    height: initial;
    display: block;
    position: initial;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: none; }
    .leftNav .sticky {
      border-bottom: 2px dotted #CDCCCC;
      padding-bottom: 1%; }
    .leftNav .cloned {
      width: 100%;
      background-color: #F5F5F5; }
    .leftNav img {
      width: 10%;
      display: inline-block;
      padding: 2% 0; }
    .leftNav .cont {
      display: none; }
    .leftNav ul:first-child li {
      display: inline-block;
      padding: 0; }
    .leftNav ul li {
      margin: 0 2%; }

  .rightContent {
    width: 100%; } }
@media all and (max-width: 700px) {
  .about .aboutMe {
    font-size: 2.5em; } }
@media all and (max-width: 570px) {
  .work .imageColumn {
    display: none; }
  .work .infoColumn {
    width: 100%;
    border: none; }
    .work .infoColumn img {
      width: 100%; }
  .work .project {
    height: initial; }

  .hideImg {
    display: block; }

  .about .aboutMe {
    font-size: 2em; } }
@media all and (max-width: 425px) {
  .about .aboutMe {
    font-size: 1.75em; } }
@media all and (max-width: 375px) {
  .about {
    text-align: center; }
    .about img {
      display: none; }
    .about .aboutMe {
      width: 100%;
      font-size: 1.5em; }

  .resume .leftColumn {
    width: 100%; }
  .resume .rightColumn {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
