
$grey: #F5F5F5;
$storm:#4A494A;
$solidLines: 1px solid #CDCCCC;
$dottedLines: 2px dotted #CDCCCC;
$coral: #D45F5E;
$blue: #69C4CA;
.blue{
  color:$blue;
}
.coral{
  color:$coral;
}
.name{
  text-align:center;
}
body{
  font-family: 'PT Sans Narrow', sans-serif;
  background-color:$grey;
  margin:0;
  padding:0;
}
h1, h2, h3, p, h4{
  margin:0;
  padding:0;
  color:$storm;

}
li{
  color:$storm;
}
i{
  margin:0 2%;
  color:$coral;
}
a{
  color:$blue;
  text-decoration:none;
  &:visited{
    color:$blue;
  }
  &:hover{
    color:$coral;
  }
}
.hide{
  display:none;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}
.leftNav{
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100%;
  border-right: $dottedLines;
  padding:2%;
  text-align:center;
  img{
    width:90%;
    padding-bottom:7%;

  }
  .submenu{
    display:none;
  }
  ul:first-child{
    list-style-type:none;
    margin:0;
    padding:0;
    li{
      padding:5% 0;
    }
  }
}
.contact{
  ul{
    li{
      display:inline-block;
      margin:0 5%;
    }
  }
}
.rightContent{
  width:77%;
  float:right;
  height:100%;
  overflow:scroll;
  display:inline-block;
  position:relative;
  display:block;
}
.about{
  width:90%;
  margin-left:5%;
  padding:5% 0;
  .aboutMe{
    width:65%;
    display:inline-block;
    font-size:4em;
    line-height:.9em;
    margin-left:2%;
  }
  img{
    width:30%;
    vertical-align:top;
    margin-left:2%;
  }
}
.work{
  width:90%;
  margin-left:5%;
  .infoColumn{
    width:47.5%;
    display:inline-block;
    border-right:$dottedLines;
    padding-right:2.5%;
    vertical-align:top;
  }
  .imageColumn{
    width:44%;
    display:inline-block;
    padding-left:5%;
    vertical-align:top;
    img{
      width:100%;
      &:hover{
        opacity:.5;
        transition:all 1s ease;
      }
    }
  }
  .project{
    height:260px;
    padding-top:5%;
    border-top:$solidLines;
  }
  .project:last-child{
    border-bottom:$solidLines;
  }
}
.resume{
  width:90%;
  margin-left:5%;
  padding-top:5%;
  h2{
    border-bottom:$dottedLines;
    margin:2.5% 0;
  }
  .leftColumn{
    width:45%;
    display:inline-block;
    padding-right:5%;
    vertical-align:top;
  }
  .rightColumn{
    width:44%;
    display:inline-block;
    padding-left:5%;
    vertical-align:top;
  }
}

@media all and (max-width: 1185px){
  .about{
    .aboutMe{
      font-size:3.25em;
    }
  }
}
@media all and (max-width: 1000px){
  .about, .work, .resume{
    width:95%;
    margin-left:2.5%;
  }
  .work{
    .infoColumn{
      font-size:.95em;
    }
  }
}
@media all and (max-width: 860px){
.about{
  .aboutMe{
    font-size:2.75em;
  }
}
}
@media all and (max-width: 780px){
  .about{
    .aboutMe{
      font-size:3.25em;
    }
  }
  .leftNav{
    width:100%;
    height:initial;
    display:block;
    position:initial;
    text-align:center;
    font-size:1em;
    margin:0;
    padding:0;
    border:none;
    .sticky{
      border-bottom:$dottedLines;
      padding-bottom:1%;
    }
    .cloned{
      width:100%;
      background-color:$grey;
    }
    img{
      width:10%;
      display:inline-block;
      padding:2% 0;

    }
    .cont{
      display:none;
    }
    ul:first-child{
      li{
        display:inline-block;
        padding:0;
      }
    }
    ul{
      li{
        margin:0 2%;
      }
    }
  }
  .rightContent{
    width:100%;
  }
}
